[Unit]
Description=Start offlineimap as a daemon
After=slim.service

[Service]
ExecStart=/usr/bin/offlineimap-notify

[Install]
WantedBy=multi-user.target
