[Unit]
Description=Start offlineimap as a daemon

[Service]
ExecStart=/usr/bin/offlineimap-notify
Environment=DISPLAY=:0
EnvironmentFile=%h/.keychain/%H-sh
EnvironmentFile=%h/.keychain/%H-sh-gpg

[Install]
WantedBy=default.target
